
{% comment %} PLEASE DON'T MAKE CHANGES IN THIS FILE IT'S AFFECT THE CODE IF YOU NEED ANY HELP PLEASE CONTACT TO FLITS TEAM support@getflits.com {% endcomment %}
{%- layout none -%}

<div class="flits-store-credit-module">
	<div class="flits-desktop-content">
		{% render 'flits_capture_code' with 'module',template:'module_storeCredit_content' %}
	</div>  
	<div class="flits-mobile-content">
		{% render 'flits_capture_code' with 'module',template:'module_mobile_storeCredit_content' %}
	</div>
</div>

<div class="flits-how-to-earn-module">
	<div class="flits-desktop-content">
		{% render 'flits_capture_code' with 'module',template:'module_howToEarn_content' %}
	</div>  
	<div class="flits-mobile-content">
		{% render 'flits_capture_code' with 'module',template:'module_mobile_howToEarn_content' %}
	</div>
</div>

<div class="flits-how-to-spend-module">
	<div class="flits-desktop-content">
		{% render 'flits_capture_code' with 'module',template:'module_howToSpend_content' %}
	</div>  
	<div class="flits-mobile-content">
		{% render 'flits_capture_code' with 'module',template:'module_mobile_howToSpend_content' %}
	</div>
</div>

<div class="flits-from-store-admin-module">
	<div class="flits-desktop-content">
		{% render 'flits_capture_code' with 'module',template:'module_fromAdmin_content' %}
	</div>  
	<div class="flits-mobile-content">
		{% render 'flits_capture_code' with 'module',template:'module_mobile_fromAdmin_content' %}
	</div>
</div>
