 <div class="lh-sections-wrapper" data-id="63fd3e9e4c7164383501b8e2" data-type="page">
<section id="" data-section-id="FZ2WY3SGtU" data-section="slide-3" data-dev="le-vi" data-lh-page-id="362" data-lh-page-name="Homepage - Shoen" data-layouthub="section">  
  


<div class="lh-hero">

	<div class="lh-container-fluid">

		<include data-live-slide_items data-live-loop data-live-auto data-live-nav data-live-dots data-live-time data-live-slide_items__active data-live-slide_items__active data-name="slide" data-id="1">  
 <div class="owl-slider owl-carousel owl-theme">
	 <div class="item" style="background: #fff" data-hub-attr-state="class%3D%22item%22%20style%3D%22background%3A%20%22"   data-hub-attr-slide_items_0_bg_color="slide_items[0]bg_color" data-lhis="slide_items-bg_color" data-lh-image-helper="section.settings.slide_items[0]bg_color"bg_color">
		<div class="lh-item-content" >
			<div class="lh-container">
				<div class="lh-row">
					<div class="lh-item lh-col-md-5">
						<div class="lh-txt">
							<div class="lh-heading">
								<h2 class="lh-title"  data-lhi="slide_items[0]title" data-lh-lang data-lhis="slide_items-title"><h1 style="font-size:39px; color:#222;">DISTRIBUCIÓN<br> LIQUOLY<br></h1></h2>
								<p class="lh-desc"  data-lhi="slide_items[0]desc" data-lh-lang data-lh-live-editor data-lhis="slide_items-desc"><p style="color:#222;">La distribución fluida <br>de forma simple</p>
<p style="font-size:10px; color:#222;">*Solo para Cataluña</p>
<br></p>
								<div class="lh-btn"  data-lhi="slide_items[0]link_btn" data-lh-lang data-lhi-child="a" data-lhis="slide_items-link_btn"><a target="_blank" href="https://linkpop.com/liquoly" class="lh-link-btn" data-ga-action="link_btn" data-ga-label="Link button" data-lhlink>Reservar Cita</a></div>
							</div>
						</div>
					</div>
					<div class="lh-item lh-col-md-7">
						<div class="lh-img"  data-lhi="slide_items[0]image" data-lhis="slide_items-image"><img src="https://cdn.shopify.com/s/files/1/0693/3459/7926/t/8/assets/distribucinhorecaslide_Tdz8.png?v=167757118158" alt="Slide Image" /></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	 
</div>

 


  </include></div>

</div>

  </section><section id="" data-section-id="bwUsYOLZNv" data-section="collections-3" data-dev="le-vi" data-lh-page-id="362" data-lh-page-name="Homepage - Shoen" data-layouthub="section">  
  


<div class="lh-collections ">

	<div class="lh-container">

		<div class="lh-heading-title">

			<h3 class="lh-title"  data-lhi="title" data-lh-lang>SIN PEDIDOS MÍNIMOS | PRODUCTOS TANTO CLÁSICOS COMO NOVEDOSOS</h3>

			<text  data-lhi="link_btn" data-lh-lang data-lhi-child="a"><a href="#" data-lhlink></a></text>

		</div>

		<div class="lh-row">

			 <div class="lh-item lh-col-md-6">

					<div class="lh-item-content lh-1" data-hub-attr-state="class%3D%22lh-item-content%20%22"   data-hub-attr-collections_0_sort="collections[0]sort" data-lhis="collections-sort" >

						<text  data-lhi="collections[0]img" data-lhis="collections-img"><img src="https://cdn.shopify.com/s/files/1/0693/3459/7926/t/8/assets/distribucinhorecagourmet_RDTu.jpg?v=1677570672979" alt="Image Collection" /></text>

						<div class="lh-item-info">

							<text  data-lhi="collections[0]link_btn" data-lh-lang data-lhi-child="a" data-lhis="collections-link_btn"><a href="#" class="lh-title" data-ga-action="link_btn" data-ga-label="Link button" data-lhlink>Productos Gourmet</a></text>

							<p class="lh-desc"  data-lhi="collections[0]desc" data-lh-lang data-lh-live-editor data-lhis="collections-desc">Jamones, conservas de alta calidad, aceites...</p>

						</div>

					</div>

				</div>

			 <div class="lh-item lh-col-md-6">

					<div class="lh-item-content lh-2" data-hub-attr-state="class%3D%22lh-item-content%20%22"   data-hub-attr-collections_1_sort="collections[1]sort" data-lhis="collections-sort" >

						<text  data-lhi="collections[1]img" data-lhis="collections-img"><img src="https://cdn.shopify.com/s/files/1/0693/3459/7926/t/8/assets/distribucinhorecabebidas_3P5A.jpg?v=1677570431188" alt="Image Collection" /></text>

						<div class="lh-item-info">

							<text  data-lhi="collections[1]link_btn" data-lh-lang data-lhi-child="a" data-lhis="collections-link_btn"><a href="#" class="lh-title" data-ga-action="link_btn" data-ga-label="Link button" data-lhlink>Todo tipo de bebidas</a></text>

							<p class="lh-desc"  data-lhi="collections[1]desc" data-lh-lang data-lh-live-editor data-lhis="collections-desc">Bebidas clásicas o alternativas elegantes.</p>

						</div>

					</div>

				</div>

			 

		</div>

	</div>

</div>

  </section><section id="" data-section-id="00rp92i28an6j" data-section="clients-4" data-dev="nguyen-minh" data-lh-page-id="868" data-lh-page-name="Clients-Navu_79" data-layouthub="section">  
  






<div class="lh-clients-4">

	<div class="lh-container">

		<h3 class="lh-heading"  data-lhi="cl_heading" data-lh-lang>Algunas de nuestras marcas</h3>

		<p class="lh-desc"  data-lhi="cl_desc" data-lh-lang data-lh-live-editor></p>

		<div class="lh-row lh-main">

			 <div class="lh-item lh-col-md-2-ct" data-hub-attr-state="class%3D%22lh-item%20%22"   data-hub-attr-cl_items_0_width="cl_items[0]width" data-lhis="cl_items-width" >

							<div class="lh-img"  data-lhi="cl_items[0]cl_logo" data-lhis="cl_items-cl_logo"><img src="https://cdn.shopify.com/s/files/1/0693/3459/7926/t/8/assets/image-bacardi_GiyH.jpg?v=1677571682387" alt="Logo" class="lh-img" /></div>

				</div>

			 <div class="lh-item lh-col-md-2-ct" data-hub-attr-state="class%3D%22lh-item%20%22"   data-hub-attr-cl_items_1_width="cl_items[1]width" data-lhis="cl_items-width" >

							<div class="lh-img"  data-lhi="cl_items[1]cl_logo" data-lhis="cl_items-cl_logo"><img src="https://cdn.shopify.com/s/files/1/0693/3459/7926/t/8/assets/image-can-serra-dels-exibis_VyUe.jpg?v=1677571713163" alt="Logo" class="lh-img" /></div>

				</div>

			 <div class="lh-item lh-col-md-2-ct" data-hub-attr-state="class%3D%22lh-item%20%22"   data-hub-attr-cl_items_2_width="cl_items[2]width" data-lhis="cl_items-width" >

							<div class="lh-img"  data-lhi="cl_items[2]cl_logo" data-lhis="cl_items-cl_logo"><img src="https://cdn.shopify.com/s/files/1/0693/3459/7926/t/8/assets/image-jamones-y-embutidos-artesanos_K2wi.jpg?v=1677571733607" alt="Logo" class="lh-img" /></div>

				</div>

			 <div class="lh-item lh-col-md-2-ct" data-hub-attr-state="class%3D%22lh-item%20%22"   data-hub-attr-cl_items_3_width="cl_items[3]width" data-lhis="cl_items-width" >

							<div class="lh-img"  data-lhi="cl_items[3]cl_logo" data-lhis="cl_items-cl_logo"><img src="https://cdn.shopify.com/s/files/1/0693/3459/7926/t/8/assets/image-beefeater_V1Ai.jpg?v=1677571750843" alt="Logo" class="lh-img" /></div>

				</div>

			 <div class="lh-item lh-col-md-2-ct" data-hub-attr-state="class%3D%22lh-item%20%22"   data-hub-attr-cl_items_4_width="cl_items[4]width" data-lhis="cl_items-width" >

							<div class="lh-img"  data-lhi="cl_items[4]cl_logo" data-lhis="cl_items-cl_logo"><img src="https://cdn.shopify.com/s/files/1/0693/3459/7926/t/8/assets/image-familia-torres_Bbq3.jpg?v=1677571773480" alt="Logo" class="lh-img" /></div>

				</div>

			 <div class="lh-item lh-col-md-2-ct" data-hub-attr-state="class%3D%22lh-item%20%22"   data-hub-attr-cl_items_5_width="cl_items[5]width" data-lhis="cl_items-width" >

							<div class="lh-img"  data-lhi="cl_items[5]cl_logo" data-lhis="cl_items-cl_logo"><img src="https://cdn.shopify.com/s/files/1/0693/3459/7926/t/8/assets/image-puerto-de-indias_REDI.jpg?v=1677571785533" alt="Logo" class="lh-img" /></div>

				</div>

			 <div class="lh-item lh-col-md-2-ct" data-hub-attr-state="class%3D%22lh-item%20%22"   data-hub-attr-cl_items_6_width="cl_items[6]width" data-lhis="cl_items-width" >

							<div class="lh-img"  data-lhi="cl_items[6]cl_logo" data-lhis="cl_items-cl_logo"><img src="https://cdn.shopify.com/s/files/1/0693/3459/7926/t/8/assets/image-mas-oller_SXhR.jpg?v=1677571800648" alt="Logo" class="lh-img" /></div>

				</div>

			 <div class="lh-item lh-col-md-2-ct" data-hub-attr-state="class%3D%22lh-item%20%22"   data-hub-attr-cl_items_7_width="cl_items[7]width" data-lhis="cl_items-width" >

							<div class="lh-img"  data-lhi="cl_items[7]cl_logo" data-lhis="cl_items-cl_logo"><img src="https://cdn.shopify.com/s/files/1/0693/3459/7926/t/8/assets/image-bodegas-castillo-de-sajazarra_OLgJ.jpg?v=1677571865989" alt="Logo" class="lh-img" /></div>

				</div>

			 <div class="lh-item lh-col-md-2-ct" data-hub-attr-state="class%3D%22lh-item%20%22"   data-hub-attr-cl_items_8_width="cl_items[8]width" data-lhis="cl_items-width" >

							<div class="lh-img"  data-lhi="cl_items[8]cl_logo" data-lhis="cl_items-cl_logo"><img src="https://cdn.shopify.com/s/files/1/0693/3459/7926/t/8/assets/image-destilerias-arehucas_GFbR.jpg?v=1677571904205" alt="Logo" class="lh-img" /></div>

				</div>

			 <div class="lh-item lh-col-md-2-ct" data-hub-attr-state="class%3D%22lh-item%20%22"   data-hub-attr-cl_items_9_width="cl_items[9]width" data-lhis="cl_items-width" >

							<div class="lh-img"  data-lhi="cl_items[9]cl_logo" data-lhis="cl_items-cl_logo"><img src="https://cdn.shopify.com/s/files/1/0693/3459/7926/t/8/assets/image-migjorn_V5dA.jpg?v=1677571920637" alt="Logo" class="lh-img" /></div>

				</div>

			 

		</div>

		<div class="lh-btn"  data-lhi="cl_btn" data-lhi-child="a"><a href="#" data-lhlink></a></div>

	</div>

</div>

  </section><section id="" data-section-id="ebW3nowaGh" data-section="call-to-action-5" data-dev="le-vi" data-lh-page-id="362" data-lh-page-name="Homepage - Shoen" data-layouthub="section">  
  


<div class="lh-call-to-action">

	<div class="lh-container">

		<div class="lh-row">

			<div class="lh-content lh-col-md-6">

				<div class="lh-content-heading">

					<div class="lh-heading">

						<h3 class="lh-title"  data-lhi="title" data-lh-lang>¿Quieres saber más?</h3>

						<p class="lh-desc"  data-lhi="desc" data-lh-lang data-lh-live-editor>Reserva tu cita con nosotros, sin compromiso.</p>

					</div>

					<div class="lh-btn"  data-lhi="link_btn" data-lh-lang data-lhi-child="a"><a target="_blank" href="https://linkpop.com/liquoly" class="lh-link-btn" data-ga-action="link_btn" data-ga-label="Link button" data-lhlink>Reservar</a></div>

				</div>

			</div>

			<div class="lh-item lh-col-md-6">

				<div class="lh-img"  data-lhi="image" data-lh-lang><img src="https://cdn.shopify.com/s/files/1/0693/3459/7926/t/8/assets/distribucinhorecareserva_qzp9.png?v=1677571499586" alt="Image" /></div>

			</div>

		</div>

	</div>

</div>

  </section>
</div>