<div class="main-content home-page main-content-home{{settings.select_home_page}}">	
		{{ content_for_index }}  	
</div>

{% render 'judgeme_widgets', widget_type: 'judgeme_featured_carousel', concierge_install: true, auto_install: true %}